@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "instagram-logo";
  src: url("/fonts/instagram-new/Demo_Fonts/instagram.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

/* * {
  font-family: "CuteThin", sans-serif;
  scroll-behavior: smooth;
} */
